build/*
doxygen/*
lib/*
data/dmp_coupling/learn_tactile_feedback/scraping/robot_unroll_data/**/*.txt
data/dmp_coupling/learn_tactile_feedback/scraping/neural_nets/pmnn/python_models/prim_*_nmse_test_unroll.mat
matlab/dmp_coupling/learn_obs_avoid/data/data_multi_demo_vicon_static_global_coord.mat
matlab/dmp_coupling/learn_obs_avoid/learn_obs_avoid_fixed_learning_algo/Ct.mat
matlab/dmp_coupling/learn_obs_avoid/learn_obs_avoid_fixed_learning_algo/wi.mat
#matlab/dmp_coupling/learn_obs_avoid/learn_obs_avoid_fixed_learning_algo/lasso_results.mat
matlab/dmp_coupling/learn_obs_avoid/feature_param_sensitivity_evaluation/wi.mat
matlab/dmp_coupling/learn_obs_avoid/learn_obs_avoid_noisy_synthetic_data/Ct.mat
matlab/dmp_coupling/learn_obs_avoid/learn_obs_avoid_noisy_synthetic_data/wi.mat
matlab/dmp_coupling/learn_obs_avoid/loa_generalization_test_no_unrolling/Ct.mat
matlab/dmp_coupling/learn_obs_avoid/loa_generalization_test_no_unrolling/wi.mat
matlab/dmp_coupling/learn_obs_avoid/learn_obs_avoid_pmnn_vicon_data/*.mat
matlab/dmp_coupling/learn_obs_avoid/learn_obs_avoid_vicon_data/*.mat
matlab/dmp_coupling/learn_obs_avoid/learn_obs_avoid_vicon_data/*/*.mat
matlab/dmp_coupling/learn_obs_avoid/learn_obs_avoid_vicon_data/trained_NN_history/*
matlab/dmp_coupling/learn_tactile_feedback/unroll/*/*/*/*
matlab/dmp_coupling/learn_tactile_feedback/neural_nets/unroll/*.mat
matlab/dmp_coupling/learn_tactile_feedback/*.mat
python/dmp_coupling/learn_obs_avoid/**/*.mat
python/dmp_coupling/learn_tactile_feedback/**/*.mat
pictures/*
plot/dmp_1D/*.txt
plot/cart_dmp/cart_coord_dmp/single_traj_training/*.txt
plot/cart_dmp/cart_coord_dmp/multi_traj_training/w_obs/*.txt
plot/cart_dmp/cart_coord_dmp/multi_traj_training/wo_obs/*.txt
plot/cart_dmp/cart_coord_dmp/multi_traj_training/*.txt
plot/cart_dmp/quat_dmp/*.txt
plot/dmp_coupling/learn_obs_avoid/learning_algo_verification/dmp/baseline/*.txt
plot/dmp_coupling/learn_obs_avoid/learning_algo_verification/dmp/w_synthetic_obs_avoidance/*.txt
plot/dmp_coupling/learn_obs_avoid/learning_algo_verification/dmp/w_ARD_learned_obs_avoidance/*.txt
plot/dmp_coupling/learn_obs_avoid/learning_algo_verification/loa/*.txt
!plot/dmp_coupling/learn_obs_avoid/learning_algo_verification/loa/learn_obs_avoid_weights_matrix_ARD.txt
plot/dmp_coupling/learn_obs_avoid/tau_invariance_evaluation/wo_obs/*.txt
plot/dmp_coupling/learn_obs_avoid/tau_invariance_evaluation/w_obs_dmp_unroll/*.txt
plot/dmp_coupling/learn_obs_avoid/tau_invariance_evaluation/w_obs_ideal/*.txt
plot/dmp_coupling/learn_obs_avoid/tau_invariance_evaluation/w_obs_real/*.txt
plot/dmp_coupling/learn_obs_avoid/feature_trajectory/static_obs/single_baseline/single_demo/*.txt
plot/dmp_coupling/learn_obs_avoid/feature_trajectory/static_obs/single_baseline/single_demo/baseline/
plot/dmp_coupling/learn_obs_avoid/feature_trajectory/static_obs/single_baseline/single_demo/1/
plot/dmp_coupling/learn_obs_avoid/feature_trajectory/static_obs/single_baseline/single_demo/param_settings/param_set_1/Hoffmann_1st_order_CanonicalSys/*.txt
plot/dmp_coupling/learn_obs_avoid/feature_trajectory/static_obs/single_baseline/single_demo/param_settings/param_set_1/Hoffmann_2nd_order_CanonicalSys/*.txt
plot/dmp_coupling/learn_obs_avoid/feature_trajectory/static_obs/single_baseline/single_demo/param_settings/param_set_1/Schaal_1st_order_CanonicalSys/*.txt
plot/dmp_coupling/learn_obs_avoid/feature_trajectory/static_obs/single_baseline/single_demo/param_settings/param_set_1/Schaal_2nd_order_CanonicalSys/*.txt
plot/dmp_coupling/learn_obs_avoid/feature_trajectory/static_obs/single_baseline/single_demo/param_settings/param_set_1/*/baseline/
plot/dmp_coupling/learn_obs_avoid/feature_trajectory/static_obs/single_baseline/single_demo/param_settings/param_set_1/*/1/
plot/dmp_coupling/learn_obs_avoid/feature_trajectory/static_obs/single_baseline/multi_demo/*/
plot/dmp_coupling/learn_obs_avoid/feature_trajectory/static_obs/single_baseline/multi_demo/*.txt
plot/dmp_coupling/learn_obs_avoid/feature_trajectory/static_obs/single_baseline/multi_demo_vicon/*/
plot/dmp_coupling/learn_obs_avoid/feature_trajectory/static_obs/single_baseline/multi_demo_vicon/*.txt
plot/dmp_coupling/learn_obs_avoid/feature_trajectory/experimental/hig_regularization/*.txt
plot/dmp_coupling/learn_obs_avoid/feature_trajectory/experimental/hig_regularization/*/*
plot/dmp_coupling/learn_obs_avoid/feature_trajectory/experimental/low_regularization/*.txt
plot/dmp_coupling/learn_obs_avoid/feature_trajectory/experimental/low_regularization/*/*
plot/dmp_coupling/learn_tactile_feedback/*/*
presentation/*
software_test/test_*
software_test/result_matlab_*
software_test/amd_clmc_dmp_software_test_dir_abs_path.txt
doxygen.*
.cproject
.project
CMakeLists.txt.*
*~
*.pyc
